---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import TelemetryChart from '../components/TelemetryChart';
import Stream from '../components/Stream.jsx'
import RawTelemetry from '../components/RawTelemetry.jsx';
import CommandPannel from '../components/CommandPannel.jsx';
import App from '../components/App.jsx';

const streamUrl = "http://IP_DEL_ESP32:81/stream"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <div class="w-full h-full bg-amber-50 flex flex-row">
		<div class="w-1/4 h-full bg-amber-600 flex flex-col p-2">
			<Titular />
			<MissionStage />
			<TelemetryChart client:load />
			<TelemetryChart client:load />
		</div>
		<div class="w-1/2 h-full bg-green-50 p-2">
			<Stream streamUrl={streamUrl} />
			<div class="flex flex-row">
				<TelemetryChart client:load />
				<TelemetryChart client:load />	
			</div>	
		</div>
		<div class="w-1/4 h-full bg-red-500 p-2">
			<RawTelemetry client:load />
			<CommandPannel client:load />
		</div>
	</div> -->

	<App client:load />
</Layout>
